*.class
/microrts/bin/
/microrts/out/
/microrts/.classpath
/microrts/.project
*.iml
/microrts/.idea
/report/*.aux
/report/*.fdb_latexmk
/report/*.log
/report/*.fls
/report/LatexTemplates/
/report/*.pdf
/microrts/tournament*